<!DOCTYPE>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css" type="text/css">

    </head>
<body>
    <div class="container">
        <img class="img-fluid mb-12 d-block" src="/assets/images/burger.png" width="200" height="200" id="profile" alt="">
        <h2 class="font-weight-light mb-0">Eat-Da-Burger</h2>
      </div>
   

    {{{ body }}}

  

    <footer id="footer">
		<div>
			<div class="footer">
				<span>© 2018</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/jooal">Github Link</a>
			</div>
		</div>
	</footer>
</body>
    
</html>