<!DOCTYPE!>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Eat Da Burger</title>
        <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
        <link rel="stylesheet" href="/assets/css/style.css" type="css/text">

    </head>
<body>
    <img src = "/assets/images/burger.png" id="burger-image" width="300px" height="300px">

    {{{ body }}}

    <footer id="footer">
		<div>
			<div class="container">
				<span>© 2018</span>
				<a class="grey-text text-lighten-4 right" href="https://github.com/jooal">Github Link</a>
			</div>
		</div>
	</footer>
</body>
    
</html>